* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    background: black; 
}

header{
    height: 100vh;
    position: relative;
}


.cover{
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    object-fit: cover;
}

.nav-images img {
    height: 250px;
}