* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    background: black; 
}

header{
    height: 100vh;
    position: relative;
    display: flex;
}


.cover-date{
    position: absolute;
    left: 10%;
    bottom: 10%;
    color: white;
}

.cover{
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    object-fit: cover;
    object-position: top;
}

.nav-images img {
    height: 250px;
}